FlameGraph
CMakeFiles
cmake-build-debug
cmake-build-release
programoptions/CMakeFiles/
.idea/
output
maqao.intel64.2.13.0/
datasaving
compile_commands.json
CMakeCache.txt
cmake_install.cmake
Makefile
programoptions/libprogramoptions.a
output/*
programoptions/cmake_install.cmake
mainbench.cpp
benchmarkdata.txt
perf.data
parameters.txt